

body {
  font-family: "Poppins";
  height: 100%;
  background-image: url("../images/tubes3.jpg");
  background-size: cover;
/*  background-color: #cccccc;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 40px;*/
  /*background-color: #ffffff;*/
}

#title {
  font-size:96px;
  width: 100%;
  text-align: center;
  color: #000000;
}



