.startInstructions{
    font-size: 25px;
}

.spaceBarLetters{
    font-size: 25px;
    color:black;
}

.vaccineLetters{
    font-size:20px;
    color: #0803FF;
}

.virusLetters{
    font-size:20px;
    color: #324D24;
}

.maskLetters{
    font-size:20px;
    color: #03ACC8;
}

.resultWin{
    font-size: 25px;
    color: black;
}

.resultLoss{
    font-size: 25px;
    color: black;
}

.winDiv{
    background-color:gold;
}

.lossDiv{
    background-color:red;
}